@model KomisSamochodowy.Models.Samochod

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Samochod</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Kolor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Kolor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PojemnoscSilnika)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PojemnoscSilnika)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Przebieg)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Przebieg)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumerVin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumerVin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cena)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cena)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Marka)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Marka.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nadwozie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nadwozie.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Paliwo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Paliwo.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
